<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payam Site | <%= title %>
    </title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        p,
        h1,
        h2,
        h3,
        a,
        ul {
            color: red;
        }
    </style>
</head>