<% const name="PAPAPA" ; %>

    <nav>
        <div class="siteTitle">
            <p>
                <%= name %>
            </p>
            <a href="/">
                <h1>payam site</h1>
            </a>
            <p>A payam site</p>
        </div>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>