<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>


    <body>
        <%- include("./partials/nav") %>


            <div class="about content">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium enim iure, unde minus assumenda
                    corrupti
                    perspiciatis rem labore voluptatibus vel explicabo, suscipit necessitatibus repellendus, dolorum
                    harum
                    nobis
                    impedit minima. Numquam.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur pariatur dolores repellat eaque
                    sapiente
                    quibusdam doloribus facilis autem? Asperiores vero fugit odio corporis rem corrupti quasi inventore.
                    Cupiditate, ea cumque.</p>
            </div>

            <%- include("./partials/footer") %>

    </body>

</html>